*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

header{
    background-color:#ADD8E6;
    padding-top: 20px;
    

}

.container-header{
    margin-bottom: 20px;
}

 

 .naviga {
    height: 30%;
    width: 80%;
    background-color: #D4A520;
    color: aliceblue;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    
 }
 nav{
     border: dotted;
 }
        
 
    
  
    

.login{
    text-align: right;
    padding: 10px;
    background-color: #5CB7F2;
    border-radius:40px;
    
  

  
}
 


.sezione1 {
    display: flex;
    height: 300px; ;
    background-color:#00008B ;
    justify-content: center;
    border: 2px dotted;
}
.sezione1 div{
    width: 500px;
    border: 2px dotted black;
    background-color: #EE82EE;
    height: 250px;
    margin: auto;
    
}


.sezione2,.sezione4{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom:5% ; 
}



.sezione3 {
    display: flex;
    max-width: 100%;
    background-color:white ;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    background-color: #D3D3D3;
    height: 350px;
}

.sezione5{
    background-color:#D3D3D3 ;
    width: 100%;
    height: 300px;
    padding: 30px;
}
 

.left{
     width: 20%;
     height: 300px;
     background-color: #FFC0CB;
     border: dotted black;
 }
 .right{
    width: 60%;
    height: 300px;
    background-color: #1E90FF;
    border: dotted black;
}

.centrale {
    height: 100%;
    width: 50%;
    background-color:#228B22 ;
    border: dotted black;
    margin: auto;
}
 
.footer-top{
    display: flex;
    border: 3px dotted ;
    width:80% ;
    margin: auto;
    padding-top:10px;  
}

footer{
    background-color:#23272A
}
  
.col1  {
    width: 30%;
    height: 300px;
    background-color: #F08080;
    border: 2px dotted black ;

}
.footer-top .col  {
    width: calc(70% / 4);
    height: 300px;
    background-color: #20B2AA;
    border: 2px dotted white ; 
}
.footer-bootom{
    display: flex;
    width:80% ;
    margin: 50px  auto 0;
    justify-content:space-between;
    background-color:#7FFFD4 ;
    padding-top: 10px;
    padding-bottom: 30px;
}
.logo-footer  {
    border:  dotted black;
    width: 10%;
}
 

